{% extends 'layouts/admin.html.twig' %}

{% block body %}
    <div class="px-32 my-12">
        <p class="text-4xl text-center">Orders</p>
        <table class="table-fixed text-center w-full mt-4">
            <thead>
                <tr>
                    <th class="p-4">Id</th>
                    <th class="p-4">Status</th>
                    <th class="p-4">Amount</th>
                    <th class="p-4">Payment Method</th>
                    <th class="p-4">User</th>
                    <th class="p-4">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td class="p-4">{{ order.id }}</td>
                    <td class="p-4">{{ order.status }}</td>
                    <td class="p-4">{{ order.total }} $</td>
                    <td class="p-4">{{ order.payment.paymentMethod }}</td>
                    <td class="p-4">{{ order.user.email }}</td>
                    <td><a href="{{ path('show-order', {'id': order.id }) }}" class="bg-gradient-to-r from-gray-600 to-slate-500 text-white px-4 py-2 rounded-md">Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-16 pb-32 flex mx-6 justify-center">
        {{ knp_pagination_render(orders, 'pagination/tailwindcss_pagination.html.twig') }}
    </div>

{% endblock %}